<div class="container mt-2">
  <div class="row justify-content-end">
    <div class="col-auto">
      <app-stopwatch></app-stopwatch>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-12">
      <app-study-level></app-study-level>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Question {{ count }}
            <span *ngFor="let state of quizStates">
              <span [ngSwitch]="state">
                <span *ngSwitchCase="'New'" style="color: blue" title="new question"><i
                    class="far fa-lightbulb"></i></span>
                <span *ngSwitchCase="'Difficult'" style="color: #ff4d4d" title="difficult question"><i
                    class="fas fa-pepper-hot"></i></span>
                <span *ngSwitchCase="'Ok'" style="color: #28a745"
                  title="question answered {{ currentFlashcard.studyHistory.comboOk }} time correct!"><i
                    class="fas fa-check"></i></span>
                <span *ngSwitchCase="'DoubleOk'" style="color: #28a745"
                  title="question answered {{ currentFlashcard.studyHistory.comboOk }} time correct!"><i
                    class="fas fa-check-double"></i></span>
                <span *ngSwitchCase="'AlmostLearned'" title="point is nearly learned!"><i
                    class="fas fa-arrow-right"></i><i style="color: #FFD700" class="fas fa-trophy"></i></span>
              </span>
            </span>
          </h5>
          <h6 *ngIf="currentFlashcard.topic" class="card-subtitle mb-2 text-muted">{{ currentFlashcard.topic }}</h6>
          <p class="card-text">{{ currentFlashcard.question }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Answer</h5>
          <p *ngIf="answerDisplayed" class="card-text">{{ currentFlashcard.answer }}</p>
          <div *ngIf="!answerDisplayed" class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm-6">
              <a class="btn btn-primary btn-lg btn-block" (click)="displayAnswer()">Show answer</a>
            </div>
            <div class="col-sm">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!answerDisplayed" class="row mt-1">
    <div class="col-sm">
    </div>
    <div class="col-sm-4 mt-2">
      <a (click)="skipQuestion()" class="btn btn-outline-secondary btn-block">Skip question</a>
    </div>
    <div class="col-sm-4 mt-2">
      <a routerLink="" routerLinkActive="router-link-active" class="btn btn-outline-secondary btn-block">Pause study</a>
    </div>
    <div class="col-sm">
    </div>
  </div>

  <div *ngIf="answerDisplayed" class="row mt-1">
    <div class="col-sm">
    </div>
    <div class="col-sm-4 mt-2">
      <a (click)="ok()" class="btn btn-outline-success btn-block">OK</a>
    </div>
    <div class="col-sm-4 mt-2">
      <a (click)="ko()" class="btn btn-outline-danger btn-block">KO</a>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
