<div class="container mt-2">
  <div class="row justify-content-end">
    <div class="col-auto">
      <app-stopwatch></app-stopwatch>
    </div>
  </div>

  <div *ngIf="showLevelUpAlert" class="row mt-1">
    <div class="col-12">
      <div class="alert alert-success" role="alert">
        Congratulation! You reach the level {{ level }}!
      </div>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-12">
      <app-study-level></app-study-level>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-12">
      <app-quiz-progress></app-quiz-progress>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Question {{ count }}
            <!-- TODO custom component -->
            <span *ngFor="let state of quizStates">
              <span [ngSwitch]="state">
                <span *ngSwitchCase="'New'" style="color: blue" title="new question"><i
                    class="far fa-lightbulb"></i></span>
                <span *ngSwitchCase="'Difficult'" style="color: #ff4d4d" title="difficult question"><i
                    class="fas fa-pepper-hot"></i></span>
                <span *ngSwitchCase="'Ok'" style="color: #28a745"
                  title="question answered {{ item.studyHistory.comboOk }} time correct!"><i
                    class="fas fa-check"></i></span>
                <span *ngSwitchCase="'DoubleOk'" style="color: #28a745"
                  title="question answered {{ item.studyHistory.comboOk }} time correct!"><i
                    class="fas fa-check-double"></i></span>
                <span *ngSwitchCase="'AlmostLearned'" title="point is nearly learned!"><i
                    class="fas fa-arrow-right"></i><i class="fas fa-trophy" style="color: #FFD700"></i></span>
              </span>
            </span>
          </h5>
          <h6 *ngIf="item.flashcard.topic" class="card-subtitle mb-2 text-muted">{{ item.flashcard.topic }}</h6>
          <p *ngFor="let question of item.flashcard.question" class="card-text">{{ question }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- typical image - text flashcard - start -->
  <div class="row mt-3">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div *ngIf="answerDisplayed">
            <h5 class="card-title">Answer</h5>
            <p *ngFor="let answer of item.flashcard.answer" class="card-text">{{ answer }}</p>
          </div>
          <div *ngIf="!answerDisplayed" class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm-6">
              <a class="btn btn-primary btn-lg btn-block" (click)="displayAnswer()">Show answer</a>
            </div>
            <div class="col-sm">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Question 1</h5>
          <h6 class="card-subtitle mb-2 text-muted">Flags of Swiss Cantons</h6>
          <!-- order text > image > link -->
          <!-- TODO text-center or not -->
          <!-- TODO style="width: ..." -->
          <p class="card-text">Which Swiss Canton belong this flag?</p>
          <p class="text-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/57/Flag_of_Canton_of_Neuch%C3%A2tel.svg"
              class="img-responsive" style="width: 100px">
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Answer</h5>
          <p class="card-text">Neuchâtel</p>
          <a href="https://en.wikipedia.org/wiki/Flags_and_arms_of_cantons_of_Switzerland" target="_blank"
            class="btn btn-outline-primary">See on wikipedia</a>
        </div>
      </div>
    </div>
  </div>
  <!-- typical image - text flashcard - end -->

  <!-- typical bigchar flashcard - start -->
  <div class="row mt-3">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Question 1</h5>
          <h6 class="card-subtitle mb-2 text-muted">Hiragana > Rōmaji</h6>
          <!-- TODO h1 text-center class -->
          <p class="h1 card-text text-center">あ</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Answer</h5>
          <p class="h1 card-text text-center">a</p>
          <a href="https://en.wikipedia.org/wiki/Hiragana" target="_blank" class="btn btn-outline-primary">See on
            wikipedia</a>
        </div>
      </div>
    </div>
  </div>
  <!-- typical bigchar flashcard - end -->


  <!-- typical music flashcard - start -->
  <div class="row mt-3">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Question 1</h5>
          <h6 class="card-subtitle mb-2 text-muted">German Listening</h6>
          <p class="card-text text-center">What is said?</p>
          <div class="text-center">
            <!-- TODO autoplay to not -->
            <audio controls autoplay>
              <source src="https://upload.wikimedia.org/wikipedia/commons/b/b8/De-Kamm.ogg" type="audio/ogg">
              Your browser does not support the audio/ogg element.
            </audio>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Answer</h5>
            <p class="card-text text-center">Kamm</p>
          </div>
        </div>
      </div>
    </div>

  <!-- typical music flashcard - end -->


  <div *ngIf="!answerDisplayed" class="row mt-1">
    <div class="col-sm">
    </div>
    <div class="col-sm-4 mt-2">
      <a (click)="skipQuestion()" class="btn btn-outline-secondary btn-block">Skip question</a>
    </div>
    <div class="col-sm-4 mt-2">
      <a routerLink="" routerLinkActive="router-link-active" class="btn btn-outline-secondary btn-block">Pause study</a>
    </div>
    <div class="col-sm">
    </div>
  </div>

  <div *ngIf="answerDisplayed" class="row mt-1">
    <div class="col-sm">
    </div>
    <div class="col-sm-4 mt-2">
      <a (click)="ok()" class="btn btn-outline-success btn-block">OK</a>
    </div>
    <div class="col-sm-4 mt-2">
      <a (click)="ko()" class="btn btn-outline-danger btn-block">KO</a>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
