<div [hidden]="!item" class="container mt-2">
  <div class="row justify-content-end">
    <div class="col-auto">
      <app-stopwatch></app-stopwatch>
    </div>
  </div>

  <div *ngIf="showLevelUpAlert" class="row mt-1">
    <div class="col-12">
      <div class="alert alert-success" role="alert">
        Congratulation! You reach the level {{ level }}!
      </div>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-12">
      <app-study-level></app-study-level>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-12">
      <app-quiz-progress></app-quiz-progress>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Question {{ count }}
            <app-quiz-state [quiz]="quiz"></app-quiz-state>
          </h5>
          <h6 *ngIf="item.flashcard.topic" class="card-subtitle mb-2 text-muted">{{ item.flashcard.topic }}</h6>
          <app-flashcard-item [item]="flashcardItem" *ngFor="let flashcardItem of item.flashcard.question"></app-flashcard-item>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div *ngIf="answerDisplayed">
            <h5 class="card-title">Answer</h5>
            <app-flashcard-item [item]="flashcardItem" *ngFor="let flashcardItem of item.flashcard.answer"></app-flashcard-item>
          </div>
          <div *ngIf="!answerDisplayed" class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm-6">
              <button class="btn btn-primary btn-lg btn-block" (click)="displayAnswer()">Show answer</button>
            </div>
            <div class="col-sm">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!answerDisplayed" class="row mt-1">
    <div class="col-sm">
    </div>
    <div class="col-sm-4 mt-2">
      <button (click)="skipQuestion()" class="btn btn-outline-secondary btn-block">Skip question</button>
    </div>
    <div class="col-sm-4 mt-2">
      <button routerLink="" routerLinkActive="router-link-active" class="btn btn-outline-secondary btn-block">Pause study</button>
    </div>
    <div class="col-sm">
    </div>
  </div>

  <div *ngIf="answerDisplayed" class="row mt-1">
    <div class="col-sm">
    </div>
    <div class="col-sm-4 mt-2">
      <button (click)="ok()" class="btn btn-outline-success btn-block">OK</button>
    </div>
    <div class="col-sm-4 mt-2">
      <button (click)="ko()" class="btn btn-outline-danger btn-block">KO</button>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
