<div *ngIf="downloading" class="container mt-3 text-center">
  <div class="row mt-5">
    <div class="col-sm">
      <p class="h2">Please wait...</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm">
      <div class="d-flex justify-content-center">
        <div class="spinner-border spinner" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm">
      <p class="h3">Download in progress...</p>
    </div>
  </div>
</div>

<div *ngIf="!downloading" class="container mt-3">
  <h1 class="text-center">Choose Topics</h1>
  <div class="row mt-5">
    <div class="col-sm">
    </div>
    <div class="col-sm-6">
      <ul class="list-group">
        <ng-template ngFor let-topic [ngForOf]="topics" let-i="index">
          <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
            <div class="d-flex w-100 justify-content-between">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="{{ topic.topic }}_{{ i }}"
                  [checked]="topic.selected" (click)="toggleSelectAll(topic)">
                <label class="custom-control-label" for="{{ topic.topic }}_{{ i }}"></label>
                <!-- TODO animation without bootstrap javascript ? -->
                <span (click)="topic.expand = !topic.expand" style="cursor: pointer;">
                  <i class="fas fa-chevron-down" [ngClass]="{'fa-chevron-down': topic.expand,
                        'fa-chevron-right': !topic.expand
                      }"></i>&nbsp;<b>{{ topic.topic }}</b></span>
              </div>
              <div>
                <span class="badge badge-primary badge-pill">{{ topic.flashcardsCount }}</span>
              </div>
            </div>
          </li>
          <ng-template [ngIf]="topic.expand">
            <li *ngFor="let child of topic.childs; index as j"
              class="list-group-item d-flex justify-content-between align-items-center">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="{{ topic.topic }}_{{ i }}_{{ j }}"
                  [checked]="child.selected" (click)="toggleSelect(child, topic)">
                <label class="custom-control-label" for="{{ topic.topic }}_{{ i }}_{{ j }}">{{ child.topic }}</label>
              </div>
              <span class="badge badge-primary badge-pill">{{ child.flashcardsCount }}</span>
            </li>
          </ng-template>
        </ng-template>
      </ul>
    </div>
    <div class="col-sm">
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-sm">
    </div>
    <div class="col-sm-6">
      <button (click)="download()" class="btn btn-primary btn-lg btn-block">Download Topics</button>
    </div>
    <div class="col-sm">
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-sm">
    </div>
    <div class="col-sm-6">
      <button (click)="back()" class="btn btn-secondary btn-lg btn-block">Back</button>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
